 <div class="row">
             <div class="col l2 m3 s12"></div>
              <div class="col l8 m6 s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
          <div class="input-field col s12">
         <%= render 'form' %>
        </div>
      </div>
        </div>

        
        
      </div>
    </div>
        </div>
         <div class="col l2 m3 s12"></div>